<a href="https://colab.research.google.com/github/tianshia/python_wanglaoshi/blob/main/%E6%95%B0%E6%8D%AE%E5%8A%A0%E8%BD%BD%E4%B8%8E%E5%AD%98%E5%82%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 进阶修炼
<br>

本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

# 1 - 数据加载与存储

是的，常常被忽略的「<font color=#E36C07>**数据加载与存储**</font>」也大有门道且值得作为本套习题的开门之章。

在一次数据分析的过程中，你可能只会读取或存储一两次数据集。

**但若能灵活掌握各项设置，在读取阶段就将数据筛选、匹配、格式指定等操作完成，有时会为我们节省大量时间。**

在本节习题中，我将 pandas 数据分析中常见的数据读取与存储操作进行整理。

<font color=#E36C07>**既可以用于巩固、学习各种操作，也可以作为速查手册使用**</font>。

## 初始化

<br>

该 `Notebook` 版本为**习题+答案版**


<font color=#E36C07>**请执行下方单元格以初始化读取本节习题的答案**</font>

执行完毕后，你可以使用  <font color=#E36C07> **ans(1)** </font>  来查看第 1 题的参考解答，其余习题类似。

注意：所有答案并非固定（唯一），我提供的答案仅供参考（并非推荐答案或者最优解）！

In [ ]:
import sys
import pandas as pd
sys.path.append('../document/')
from inits import initialize,ans

res = initialize("../document/answer-1.txt")

***************正在初始化***************
*************读取到配置文件*************
***************初始化成功***************

## 1-1 数据读取

### 1 读取 Excel 文件

<br>

- 读取当前目录下 `某招聘网站数据.csv` 文件

- 读取当前目录下 `TOP250.xlsx` 文件

**注意**：使用 `pandas` 读取 `CSV` 与 读取 `xlsx` 格式的 `Excel` 文件方法大致相同

因此接下来与 `Excel` 相关的操作均以 `CSV` 格式进行出题。

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
print('pd'+str(pd.__version__))
print('np'+str(np.__version__))
print('plt'+str(matplotlib.__version__))

pd1.3.5
np1.21.6
plt3.2.2

In [ ]:
data = pd.read_csv("某招聘网站数据.csv")
data = pd.read_excel("TOP250.xlsx")

In [ ]:
data

,片名,上映年份,评分,评价人数,导演,编剧,主演,类型,国家/地区,语言,时长(分钟)
0,肖申克的救赎,1994,9.7,2317937,弗兰克·德拉邦特,弗兰克·德拉邦特 / 斯蒂芬·金,蒂姆·罗宾斯 / 摩根·弗里曼 / 鲍勃·冈顿 / 威廉姆·赛德勒 / 克兰西·布朗 / 吉...,剧情 / 犯罪,美国,英语,142
1,霸王别姬,1993,9.6,1720638,陈凯歌,芦苇 / 李碧华,张国荣 / 张丰毅 / 巩俐 / 葛优 / 英达 / 蒋雯丽 / 吴大维 / 吕齐 / 雷汉...,剧情 / 爱情 / 同性,中国,汉语普通话,171
2,阿甘正传,1994,9.5,1743966,罗伯特·泽米吉斯,艾瑞克·罗斯 / 温斯顿·格鲁姆,汤姆·汉克斯 / 罗宾·怀特 / 加里·西尼斯 / 麦凯尔泰·威廉逊 / 莎莉·菲尔德 / ...,剧情 / 爱情,美国,英语,142
3,这个杀手不太冷,1994,9.4,1922740,吕克·贝松,吕克·贝松,让·雷诺 / 娜塔莉·波特曼 / 加里·奥德曼 / 丹尼·爱罗 / 彼得·阿佩尔 / 迈克尔...,剧情 / 动作 / 犯罪,法国,英语,110
4,泰坦尼克号,1997,9.4,1706127,詹姆斯·卡梅隆,詹姆斯·卡梅隆,莱昂纳多·迪卡普里奥 / 凯特·温丝莱特 / 比利·赞恩 / 凯西·贝茨 / 弗兰西丝·费舍...,剧情 / 爱情 / 灾难,美国,英语,194
...,...,...,...,...,...,...,...,...,...,...,...
245,浪潮,2008,8.7,223511,丹尼斯·甘塞尔,丹尼斯·甘塞尔 / 彼得·图万斯 / 约翰尼·道金斯 / 罗恩·比恩巴赫 / 罗恩·琼斯,于尔根·福格尔 / 弗雷德里克·劳 / 马克思·雷迈特 / 詹妮弗·乌尔里希 / 克里斯蒂安...,剧情 / 惊悚,德国,德语,107
246,小萝莉的猴神大叔,2015,8.4,404886,卡比尔·汗,卡比尔·汗 / 维杰耶德拉·普拉萨德,萨尔曼·汗 / 哈莎莉·马洛特拉 / 卡琳娜·卡普尔 / 纳瓦祖丁·席迪圭 / 欧姆·普瑞 ...,剧情 / 喜剧 / 动作,印度,印地语,159
247,追随,1998,8.9,149521,克里斯托弗·诺兰,克里斯托弗·诺兰,杰里米·西奥伯德 / 亚历克斯·霍 / 露西·拉塞尔 / 约翰·诺兰 / 迪克·布拉德塞尔 ...,悬疑 / 惊悚 / 犯罪,英国,英语,69
248,网络谜踪,2018,8.6,430811,阿尼什·查甘蒂,阿尼什·查甘蒂 / 赛弗·奥哈尼安,约翰·赵 / 米切尔·拉 / 黛博拉·梅辛 / 约瑟夫·李 / 萨拉·米博·孙 / 亚历克丝...,剧情 / 悬疑 / 惊悚 / 犯罪,美国,英语,102
249,黑鹰坠落,2001,8.7,239402,雷德利·斯科特,肯·诺兰 / 马克·鲍登,乔什·哈奈特 / 伊万·麦克格雷格 / 汤姆·塞兹摩尔 / 金·寇兹 / 艾文·布莱纳 / ...,动作 / 历史 / 战争,美国,英语,144

### 2 读取 Excel 文件｜指定位置

在大多数情况下，我们会将 `notebook` 和数据源文件放在同一个目录（文件夹下），这样直接使用`pd.read_xxx("文件名")`即可成功读取。
 
但有时需要读取的文件和 `notebook` 不在同一个目录下，这时可以使用绝对路径或者相对本 `notebook` 的路径。

现在请读取本套习题中第二章节下的数据，即 `2 - 个性化显示设置/data.csv`

In [ ]:
data=pd.read_csv("../2-个性化设置/data.csv")

FileNotFoundError: ignored

# 新段落

# 新段落

###  3 读取 Excel 文件｜指定行（顺序）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件的 <font color = '#5F5FFC'>前20行</font>

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",nrows=20)
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
5,6882347,数据分析,94826,50-150人,"移动互联网,社交",B轮,"['股票期权', '扁平管理', '五险一金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
6,6841659,数据分析,348784,50-150人,"移动互联网,电商",A轮,"['大牛团队', '扁平管理', '年底双薪', '股票期权']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
7,6764018,数据建模工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],True
8,6458372,数据分析专家,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
9,6786904,数据分析师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,BI工程师,...,NaN,0,0,0,NaN,NaN,0,0,[],True
10,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
11,6847013,大数据分析工程师(J11108),55046,2000人以上,"移动互联网,企业服务",上市公司,"['技能培训', '年底双薪', '带薪年假', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
12,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
13,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
14,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
15,6882983,产品运营（偏数据分析）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",运营|编辑|客服类,运营,数据运营,...,NaN,0,0,0,NaN,NaN,0,0,[],True
16,6486988,资深数据分析师（杭州）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
17,5519962,大数据建模总监,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
18,5559894,数据建模专家-杭州-01546,6502,500-2000人,"信息安全,数据服务",D轮及以上,"['技能培训', '股票期权', '绩效奖金', '岗位晋升']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
19,6702852,数据分析专家（游戏业务）,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  4 读取 Excel 文件｜指定行（跳过）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件并<font color = '#5F5FFC'>跳过前20行</font>

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",skiprows=[i for i in range(1,21)])

In [ ]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6829277,资深数据分析师,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",产品|需求|项目类,高端产品职位,数据分析专家,...,NaN,0,0,0,NaN,NaN,0,0,[],True
1,6267370,数据分析专家,31544,150-500人,数据服务,不需要融资,"['专业红娘牵线', '节日礼物', '技能培训', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,5927901,数据分析经理,62,2000人以上,文娱丨内容,C轮,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",产品|需求|项目类,产品经理,其他产品经理,...,NaN,0,0,0,NaN,NaN,0,0,[],True
3,6862245,数据分析专家,473950,50-150人,移动互联网,未融资,[],产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
4,5604926,数据分析师,143884,50-150人,"移动互联网,金融",A轮,"['股票期权', '带薪年假', '绩效奖金', '年底双薪']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
81,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
82,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
83,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
84,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  5 读取 Excel 文件｜指定行（条件）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件中全部<font color = '#5F5FFC'>偶数行</font>

思考：如果是读取全部奇数行，或者更多满足指定条件的行呢？

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",skiprows=lambda x:(x!=0)and not x%2)

In [ ]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
3,6841659,数据分析,348784,50-150人,"移动互联网,电商",A轮,"['大牛团队', '扁平管理', '年底双薪', '股票期权']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
4,6458372,数据分析专家,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
5,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
6,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
7,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
8,6486988,资深数据分析师（杭州）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
9,5559894,数据建模专家-杭州-01546,6502,500-2000人,"信息安全,数据服务",D轮及以上,"['技能培训', '股票期权', '绩效奖金', '岗位晋升']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
10,6829277,资深数据分析师,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",产品|需求|项目类,高端产品职位,数据分析专家,...,NaN,0,0,0,NaN,NaN,0,0,[],True
11,5927901,数据分析经理,62,2000人以上,文娱丨内容,C轮,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",产品|需求|项目类,产品经理,其他产品经理,...,NaN,0,0,0,NaN,NaN,0,0,[],True
12,5604926,数据分析师,143884,50-150人,"移动互联网,金融",A轮,"['股票期权', '带薪年假', '绩效奖金', '年底双薪']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
13,6850849,数据分析专家,255742,150-500人,"金融,电商",C轮,"['持牌金融机构', '跨境支付', '跨境金融', '国际化团队']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
14,6657704,数据分析师,165220,150-500人,社交,不需要融资,"['绩效奖金', '带薪年假', '交通补助', '午餐补助']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
15,6234992,数据分析师,542,500-2000人,消费生活,D轮及以上,"['六险一金', '快乐高效文化', '绩效奖金', '信任']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
16,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
17,6228290,商业数据分析师,509360,50-150人,"移动互联网,企业服务",B轮,"['定期体检', '帅哥多', '领导好', '美女多']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
18,6886661,浙江数据分析师,321001,150-500人,"金融,数据服务",D轮及以上,"['年底双薪', '午餐补助', '年终分红', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
19,6601086,数据分析师,21187,150-500人,"企业服务,移动互联网",天使轮,"['带薪年假', '年轻团队', '股票期权', '下午茶']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
20,6791055,高级数据分析师,432882,150-500人,移动互联网,不需要融资,"['技术大牛', '领导nice', '帅哥美女', '环境超棒']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
21,6344146,资深数据分析师,522865,150-500人,游戏,不需要融资,"['年底双薪', '专项奖金', '提供三餐', '便捷班车']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
22,6653757,银行数据分析岗,23403,2000人以上,企业服务,上市公司,"['五险一金', '通讯津贴', '带薪年假', '定期体检']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
23,6228290,商业数据分析师,509360,50-150人,"移动互联网,企业服务",B轮,"['定期体检', '帅哥多', '领导好', '美女多']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
24,6067812,数据分析专员,98316,2000人以上,"电商,消费生活",上市公司,"['午餐补助', '带薪年假', '定期体检', '年度旅游']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
25,6680900,数据分析师 (MJ000250),114335,150-500人,数据服务,B轮,"['股票期权', '弹性工作', '领导好', '五险一金']",产品|需求|项目类,产品经理,数据分析师,...,NaN,0,0,0,NaN,NaN,0,0,[],False
26,6486069,解决方案顾问/数据分析师,166666,150-500人,"企业服务,数据服务",B轮,"['股票期权', '绩效奖金', '带薪年假', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
27,6046775,数据分析专家,133429,50-150人,"移动互联网,消费生活",未融资,"['年底双薪', '专项奖金', '美女多', '弹性工作']",产品|需求|项目类,高端产品职位,数据分析专家,...,NaN,0,0,0,NaN,NaN,0,0,[],False
28,6037742,资深数据分析师 (MJ000088),127233,150-500人,电子商务,不需要融资,"['带薪年假', '绩效奖金', '定期体检', '弹性工作']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
29,5921220,财务数据分析师,137388,150-500人,"移动互联网,电商",不需要融资,"['年终分红', '绩效奖金', '定期体检', '年底双薪']",综合职能|高级管理,财务,财务风控,...,NaN,0,0,0,NaN,NaN,0,0,[],False
30,5978750,数据分析师（保险）13-01-19,18655,2000人以上,汽车丨出行,D轮及以上,"['技能培训', 'Geek', '开放', '扁平管理']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
31,6191993,数据分析专家03-10-217,18655,2000人以上,汽车丨出行,D轮及以上,"['技能培训', 'Geek', '开放', '扁平管理']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
32,6789831,数据分析实习生,306282,150-500人,"移动互联网,数据服务",未融资,"['弹性工作', '技能培训', '岗位晋升', '五险一金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
33,6848382,资深数据分析师（商品方向）G01053,179243,500-2000人,"电商,移动互联网",上市公司,"['绩效奖金', '股票期权', '五险一金', '午餐补助']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
34,6829736,数据分析负责人 or 数据分析师,205347,2000人以上,"金融,电商",上市公司,"['带薪年假', '定期体检', '免费班车', '领导好']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
35,6728610,高级数据分析专员,98316,2000人以上,"电商,消费生活",上市公司,"['午餐补助', '带薪年假', '定期体检', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
36,6794326,BI数据分析师,374014,500-2000人,"移动互联网,金融",B轮,"['弹性工作', '扁平管理', '领导好', '五险一金']",产品|需求|项目类,数据分析,BI,...,NaN,0,0,0,NaN,NaN,0,0,[],False
37,6837340,数据分析-2020届春招,205347,2000人以上,"金融,电商",上市公司,"['带薪年假', '定期体检', '免费班车', '领导好']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
38,6896403,智能数据分析引擎研发专家,285786,2000人以上,电商,上市公司,"['年底双薪', '带薪年假', '午餐补助', '弹性工作']",开发|测试|运维类,后端开发,Java,...,NaN,0,0,0,NaN,NaN,0,0,[],True
39,5683671,数据分析实习生 (MJ000087),114335,150-500人,数据服务,B轮,"['股票期权', '弹性工作', '领导好', '五险一金']",开发|测试|运维类,后端开发,数据采集,...,NaN,0,0,0,NaN,NaN,0,0,[],False
40,6310387,业务与数据分析师,93448,150-500人,"人工智能,数据服务",B轮,"['技能培训', '股票期权', '带薪年假', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
41,6820395,产品经理/数据分析（核心业务）-2020届春招,205347,2000人以上,"金融,电商",上市公司,"['带薪年假', '定期体检', '免费班车', '领导好']",产品|需求|项目类,产品经理,产品经理,...,NaN,0,0,0,NaN,NaN,0,0,[],True
42,6747553,资深数据分析师,581460,2000人以上,"电商,汽车丨出行",D轮及以上,"['阿里合资', '六险一金', '独角兽', '行业先驱']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
43,6496980,数据分析师-Lark,62,2000人以上,文娱丨内容,C轮,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
44,6597345,资深数据分析师,57350,500-2000人,移动互联网,A轮,"['岗位晋升', '年度旅游', '年底双薪', '午餐补助']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
45,6456921,数据分析专家,738016,50-150人,"电商,数据服务",未融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
46,6813626,资深数据分析专员,165939,150-500人,数据服务,不需要融资,"['年底双薪', '带薪年假', '午餐补助', '定期体检']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
47,6818950,资深数据分析师,165939,150-500人,数据服务,不需要融资,"['年底双薪', '带薪年假', '午餐补助', '定期体检']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
48,6767669,数据分析专员,92417,2000人以上,"移动互联网,广告营销",上市公司,"['节日礼物', '股票期权', '带薪年假', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
49,6655562,数据分析建模工程师,117422215,50-150人,"数据服务,信息安全",A轮,"['午餐补助', '带薪年假', '16到18薪', '法定节假日']",开发|测试|运维类,人工智能,机器学习,...,NaN,0,0,0,NaN,NaN,0,0,[],False
50,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
51,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
52,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

### 6 读取 Excel 文件｜指定列（列号）

<br>

**根据指定列号读取**

读取当前目录下 `某招聘网站数据.csv` 文件的第 `1、3、5` 列

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",usecols=[0,2,4])

In [ ]:
data

     positionId  companyId industryField
0       6802721     475770      移动互联网,电商
1       5204912      50735            电商
2       6877668     100125    移动互联网,企业服务
3       6496141      26564            电商
4       6467417      29211         物流丨运输
..          ...        ...           ...
100     6884346      21236   移动互联网,医疗丨健康
101     6849100      72076      移动互联网,电商
102     6803432     751158         移动互联网
103     6704835      52840            电商
104     6728058       2474         汽车丨出行

[105 rows x 3 columns]

###  7 读取 Excel 文件｜指定列（列名）

<br>

**根据指定列名读取**

读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",usecols=['positionId','positionName','salary'])
data

     positionId           positionName  salary
0       6802721                   数据分析   37500
1       5204912                   数据建模   15000
2       6877668                   数据分析    3500
3       6496141                   数据分析   45000
4       6467417                   数据分析   30000
..          ...                    ...     ...
100     6884346                  数据分析师   25000
101     6849100                 商业数据分析   35000
102     6803432        奔驰·耀出行-BI数据分析专家   30000
103     6704835                BI数据分析师   20000
104     6728058  数据分析专家-LQ(J181203029)   21500

[105 rows x 3 columns]

###  8 读取 Excel 文件｜指定列（匹配）

<br>

**根据指定列名匹配读取**

让我们来个更难一点的，还是读取 `某招聘网站数据.csv` 文件，但现在有一个 list 中包含多个字段👇

`usecols = ['positionId','test','positionName', 'test1','salary']`

如果 `usecols` 中的列名存在于 `某招聘网站数据.csv` 中，则读取。

In [ ]:
usecols = ['positionId','test','positionName', 'test1','salary']

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",usecols=lambda c:c in set(usecols))
data

In [ ]:
usecols=['positionID','test','positionName','test1','salary']
data=pd.read_csv("某招聘网站数据.csv",usecols=lambda c:c in (usecols))
data

### 9 读取 Excel 文件｜指定索引

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并在读取时将 `positionId` 设置为索引列

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",index_col=['positionId'])

In [ ]:
data

###  10 读取 Excel 文件｜指定标题

<br>


读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列，并将标题设置为 `ID、岗位名称、薪资`

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",
        usecols=[0,1,17],
        header=0,
        names=['ID','岗位名称','薪资']
        )

In [ ]:
data

###  11 读取 Excel 文件｜缺失值转换

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并不将缺失值标记为 `NA`**

思考：为什么要这样做？

In [82]:
data=pd.read_csv("某招聘网站数据.csv",keep_default_na=True)

In [83]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

In [84]:
data=pd.read_csv("某招聘网站数据.csv",keep_default_na=False)

In [85]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,,0,0,0,,,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,,0,0,0,,,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,,0,0,0,,,0,0,[],True

###  12 读取 Excel 文件｜缺失值标记

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并将`[]`标记为缺失值**

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",na_values=['[]'])

In [ ]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,NaN,开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,NaN,True

### 13 读取 Excel 文件｜忽略缺失值

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，**但不处理缺失值**

思考：和之前的有什么不同，为什么这么做？

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",na_filter=True)

In [ ]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",na_filter=False)

In [ ]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,,0,0,0,,,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,,0,0,0,,,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,,0,0,0,,,0,0,[],True

### 14 读取 Excel 文件｜指定格式

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `positionId,companyId` 设置为字符串格式

In [ ]:
data=pd.read_csv("某招聘网站数据.csv")

In [ ]:
data.info()#info是获取信息的意思

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   positionId             105 non-null    int64
 1   positionName           105 non-null    object
 2   companyId              105 non-null    int64
 3   companySize            105 non-null    object
 4   industryField          105 non-null    object
 5   financeStage           105 non-null    object
 6   companyLabelList       105 non-null    object
 7   firstType              105 non-null    object
 8   secondType             105 non-null    object
 9   thirdType              105 non-null    object
 10  skillLables            105 non-null    object
 11  positionLables         105 non-null    object
 12  industryLables         105 non-null    object
 13  createTime             105 non-null    object
 14  formatCreateTime       105 non-null    object
 15  district               105 non-null    object
 16  businessZones          53 non-null     object
 17  salary                 105 non-null    int64
 18  workYear               105 non-null    object
 19  jobNature              105 non-null    object
 20  education              105 non-null    object
 21  positionAdvantage      105 non-null    object
 22  imState                105 non-null    object
 23  lastLogin              105 non-null    object
 24  publisherId            105 non-null    int64
 25  approve                105 non-null    int64
 26  subwayline             45 non-null     object
 27  stationname            45 non-null     object
 28  linestaion             45 non-null     object
 29  latitude               105 non-null    float64
 30  longitude              105 non-null    float64
 31  hitags                 2 non-null      object
 32  resumeProcessRate      105 non-null    int64
 33  resumeProcessDay       105 non-null    int64
 34  score                  105 non-null    int64
 35  newScore               105 non-null    int64
 36  matchScore             105 non-null    float64
 37  matchScoreExplain      0 non-null      float64
 38  query                  0 non-null      float64
 39  explain                0 non-null      float64
 40  isSchoolJob            105 non-null    int64
 41  adWord                 105 non-null    int64
 42  plus                   0 non-null      float64
 43  pcShow                 105 non-null    int64
 44  appShow                105 non-null    int64
 45  deliver                105 non-null    int64
 46  gradeDescription       0 non-null      float64
 47  promotionScoreExplain  0 non-null      float64
 48  isHotHire              105 non-null    int64
 49  count                  105 non-null    int64
 50  aggregatePositionIds   105 non-null    object
 51  famousCompany          105 non-null    bool
dtypes: bool(1), float64(9), int64(16), object(26)
memory usage: 42.1+ KB

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",
        dtype={'positionId':str,'companyId':str})

In [ ]:
data.info()

### 15 读取 Excel 文件｜指定格式（时间）

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `createTime` 列设置为字符串格式

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",parse_dates=["createTime"])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   positionId             105 non-null    int64
 1   positionName           105 non-null    object
 2   companyId              105 non-null    int64
 3   companySize            105 non-null    object
 4   industryField          105 non-null    object
 5   financeStage           105 non-null    object
 6   companyLabelList       105 non-null    object
 7   firstType              105 non-null    object
 8   secondType             105 non-null    object
 9   thirdType              105 non-null    object
 10  skillLables            105 non-null    object
 11  positionLables         105 non-null    object
 12  industryLables         105 non-null    object
 13  createTime             105 non-null    datetime64[ns]
 14  formatCreateTime       105 non-null    object
 15  district               105 non-null    object
 16  businessZones          53 non-null     object
 17  salary                 105 non-null    int64
 18  workYear               105 non-null    object
 19  jobNature              105 non-null    object
 20  education              105 non-null    object
 21  positionAdvantage      105 non-null    object
 22  imState                105 non-null    object
 23  lastLogin              105 non-null    object
 24  publisherId            105 non-null    int64
 25  approve                105 non-null    int64
 26  subwayline             45 non-null     object
 27  stationname            45 non-null     object
 28  linestaion             45 non-null     object
 29  latitude               105 non-null    float64
 30  longitude              105 non-null    float64
 31  hitags                 2 non-null      object
 32  resumeProcessRate      105 non-null    int64
 33  resumeProcessDay       105 non-null    int64
 34  score                  105 non-null    int64
 35  newScore               105 non-null    int64
 36  matchScore             105 non-null    float64
 37  matchScoreExplain      0 non-null      float64
 38  query                  0 non-null      float64
 39  explain                0 non-null      float64
 40  isSchoolJob            105 non-null    int64
 41  adWord                 105 non-null    int64
 42  plus                   0 non-null      float64
 43  pcShow                 105 non-null    int64
 44  appShow                105 non-null    int64
 45  deliver                105 non-null    int64
 46  gradeDescription       0 non-null      float64
 47  promotionScoreExplain  0 non-null      float64
 48  isHotHire              105 non-null    int64
 49  count                  105 non-null    int64
 50  aggregatePositionIds   105 non-null    object
 51  famousCompany          105 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(9), int64(16), object(25)
memory usage: 42.1+ KB

### 16 读取 Excel 文件｜分块读取


<br>

读取当前目录下 `某招聘网站数据.csv` 文件，要求返回一个可迭代对象，每次读取 10 行

思考：为什么这样做？

In [ ]:
import pandas as pd

In [ ]:
total_datas=[]
eachData=pd.read_csv("某招聘网站.csv")
for i in range(1000000):
  total_datas.append(eachData)
total_datas=pd.concat(total_datas)
total_datas.to_csv('total.csv')

In [ ]:
data=pd.read_csv("某招聘网站数据.csv",chunksize=10)#可迭代的文件读取器

In [ ]:
data

In [ ]:
for chunk in data:
  #print(chunk.shape)
  #pd.concat()#连接

SyntaxError: ignored

### 17 读取 txt 文件｜常规

<br>

读取当前目录下 `Titanic.txt` 文件。

注意：在接下来的几种格式文件读取中，对于之前重复的参数/功能将不再整理，仅介绍读取功能。windows中要改文件属性才能看到文件拓展名
CSV:以逗号分隔的数据文本文件
Excel：传统的表格保存

In [ ]:
data=pd.read_table("Titanic.txt")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

### 18 读取 txt 文件｜含中文

<br>

读取当前目录下 `TOP250.txt` 文件。

In [ ]:
data=pd.read_table("TOP250.txt",encoding='gb18030')
data.info()
#data=pd.read_csv("TOP250.txt",encoding='gb18030,sep='\t')#使用read_csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   片名      250 non-null    object
 1   上映年份    250 non-null    int64
 2   评分      250 non-null    float64
 3   评价人数    250 non-null    int64
 4   导演      250 non-null    object
 5   编剧      250 non-null    object
 6   主演      250 non-null    object
 7   类型      250 non-null    object
 8   国家/地区   250 non-null    object
 9   语言      250 non-null    object
 10  时长(分钟)  250 non-null    int64
dtypes: float64(1), int64(3), object(7)
memory usage: 21.6+ KB

### 19 读取 JSON 文件



<br>

读取当前目录下 `某基金数据.json` 文件。

In [ ]:
data=pd.read_table("TOP250.txt",encoding='gb18030')
data

,片名,上映年份,评分,评价人数,导演,编剧,主演,类型,国家/地区,语言,时长(分钟)
0,肖申克的救赎,1994,9.7,2317937,弗兰克·德拉邦特,弗兰克·德拉邦特 / 斯蒂芬·金,蒂姆·罗宾斯 / 摩根·弗里曼 / 鲍勃·冈顿 / 威廉姆·赛德勒 / 克兰西·布朗 / 吉...,剧情 / 犯罪,美国,英语,142
1,霸王别姬,1993,9.6,1720638,陈凯歌,芦苇 / 李碧华,张国荣 / 张丰毅 / 巩俐 / 葛优 / 英达 / 蒋雯丽 / 吴大维 / 吕齐 / 雷汉...,剧情 / 爱情 / 同性,中国,汉语普通话,171
2,阿甘正传,1994,9.5,1743966,罗伯特·泽米吉斯,艾瑞克·罗斯 / 温斯顿·格鲁姆,汤姆·汉克斯 / 罗宾·怀特 / 加里·西尼斯 / 麦凯尔泰·威廉逊 / 莎莉·菲尔德 / ...,剧情 / 爱情,美国,英语,142
3,这个杀手不太冷,1994,9.4,1922740,吕克·贝松,吕克·贝松,让·雷诺 / 娜塔莉·波特曼 / 加里·奥德曼 / 丹尼·爱罗 / 彼得·阿佩尔 / 迈克尔...,剧情 / 动作 / 犯罪,法国,英语,110
4,泰坦尼克号,1997,9.4,1706127,詹姆斯·卡梅隆,詹姆斯·卡梅隆,莱昂纳多·迪卡普里奥 / 凯特·温丝莱特 / 比利·赞恩 / 凯西·贝茨 / 弗兰西丝·费舍...,剧情 / 爱情 / 灾难,美国,英语,194
...,...,...,...,...,...,...,...,...,...,...,...
245,浪潮,2008,8.7,223511,丹尼斯·甘塞尔,丹尼斯·甘塞尔 / 彼得·图万斯 / 约翰尼·道金斯 / 罗恩·比恩巴赫 / 罗恩·琼斯,于尔根·福格尔 / 弗雷德里克·劳 / 马克思·雷迈特 / 詹妮弗·乌尔里希 / 克里斯蒂安...,剧情 / 惊悚,德国,德语,107
246,小萝莉的猴神大叔,2015,8.4,404886,卡比尔·汗,卡比尔·汗 / 维杰耶德拉·普拉萨德,萨尔曼·汗 / 哈莎莉·马洛特拉 / 卡琳娜·卡普尔 / 纳瓦祖丁·席迪圭 / 欧姆·普瑞 ...,剧情 / 喜剧 / 动作,印度,印地语,159
247,追随,1998,8.9,149521,克里斯托弗·诺兰,克里斯托弗·诺兰,杰里米·西奥伯德 / 亚历克斯·霍 / 露西·拉塞尔 / 约翰·诺兰 / 迪克·布拉德塞尔 ...,悬疑 / 惊悚 / 犯罪,英国,英语,69
248,网络谜踪,2018,8.6,430811,阿尼什·查甘蒂,阿尼什·查甘蒂 / 赛弗·奥哈尼安,约翰·赵 / 米切尔·拉 / 黛博拉·梅辛 / 约瑟夫·李 / 萨拉·米博·孙 / 亚历克丝...,剧情 / 悬疑 / 惊悚 / 犯罪,美国,英语,102
249,黑鹰坠落,2001,8.7,239402,雷德利·斯科特,肯·诺兰 / 马克·鲍登,乔什·哈奈特 / 伊万·麦克格雷格 / 汤姆·塞兹摩尔 / 金·寇兹 / 艾文·布莱纳 / ...,动作 / 历史 / 战争,美国,英语,144

### 20 读取 HDF5 文件

<br>

`HDF5`是一种特殊的文件格式，常见于在大规模存储数据上

关于 `pandas` 与 `hdf5` 格式文件的操作较多，下面仅学习如何读取。

读取当前目录下`store_tl.h5`文件

In [ ]:
data=pd.read_hdf("store_tl.h5","table")
data

       A    B
0      0    0
1      1    1
2      2    2
3      3    3
4      4    4
..   ...  ...
495  495  495
496  496  496
497  497  497
498  498  498
499  499  499

[505 rows x 2 columns]

### 21 从剪贴板读取数据

<br>

打开当前目录下 `Titanic.txt` 文件，全选并复制。

现在直接从剪贴板读取数据。

In [ ]:
data=pd.read_clipboard()
data

PyperclipException: ignored

### 22 从 SQL 读取数据

<br>

有时我们需要从 `SQL` 中读取数据，如果先将数据导出再`pandas`读取并不是一个合适的选择。

在 `pandas` 中支持直接从 `sql` 中查询并读取。

为了方便统一操作，请先执行下面的代码创建数据。

In [ ]:
pd.read_sql('SELECT int_column,date_column FROM test_data',conn)

NameError: ignored

下面将 `SQL` 语句 `SELECT int_column, date_column FROM test_data` 转换为 `DataFrame`

   int_column date_column
0           0    10/11/12
1           1    12/11/10

### 23 从网页读取数据

<br>

直接从东京奥运会官网读取奖牌榜数据。

目标网站地址为 `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

思考：什么类型的在线表格可以直接读取？

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_html("https://olympice.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-sta")
data

In [ ]:
APPL="https://www.nasdaq.com/market-activity/stocks/aapl/historical#.UWdnJBFMhHk"
data=pd.read_html(APPL)[0]
data

KeyboardInterrupt: ignored

### 24 循环读取数据

<br>

在本小节 `demodata` 文件夹下有多个 `Excel` 文件，要求一次性循环读取全部文件

In [ ]:
import os
path='/demodata'
filenames=os.listdir(path)
filenames=[f for f in filenames if f.lower().endwidth(".xlsx")]
df_list[10]
for filename in filenames:
  df_list.append(pd.read_excel(path+filename))
df=pd.concat(df_list)
data

FileNotFoundError: ignored

## 1-2 数据创建

<br>

除了直接读取本地文件，学会直接创建数据框也很重要，常见于测试一些函数，下面是从常见数据结构创建数据框的方法整理

### 25 从列表创建

<br>

将下面的 `list` 转换为 `dataframe`，并指定列名为`"林肯Python"`

In [69]:
l = [1,2,3,4,5]

In [70]:
import pandas as pd

In [71]:
data=pd.DataFrame(1,columns=['林肯Python'])
data

ValueError: ignored

In [ ]:
data=pd.DataFrame(1)
data

### 26 从列表创建｜嵌套列表

<br>

将下面的 `list` 转换为 `dataframe`，并指定行索引为`"公众号","林肯Python"`

In [64]:
l = [[1,2,3],[4,5,6]]

In [65]:
data=pd.DataFrame(1,index=['公号','林肯Python'])
data

ValueError: ignored

In [ ]:
data=pd.DataFrame(1)
data

### 27 从字典创建

执行下方代码，并将字典转换为`dataframe`

In [66]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [67]:
data=pd.DataFrame(1,index=['公号','林肯Python'],columns=['A','B','C'])
data

          A  B  C
公号        1  1  1
林肯Python  1  1  1

In [68]:
data=pd.DataFrame(d)
data

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 28 从字典创建｜指定索引

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`

In [ ]:
data=pd.DataFrame(d,index=["a","b","d"])
data

   one  two
a  1.0  1.0
b  2.0  2.0
d  NaN  4.0

### 29 从字典创建｜指定列名

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`，列名为`"two", "three"`

In [ ]:
data = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])
data

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

### 30 从字典创建｜字典列表
<br>

将下方列表型字典转换为`dataframe`

思考：如何指定行/列索引？

In [ ]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [ ]:
data=pd.DataFrame(d)
data

   a   b     c
0  1   2   NaN
1  5  10  20.0

### 31 从集合创建

<br>

将下面的元组转换为 dataframe 且行列索引均为 `1,2,3,4`

In [ ]:
t =((1,0,0,0,)
  ,(2,3,0,0,),
  (4,5,6,0,),
  (7,8,9,10,)
  )

In [ ]:
data=pd.DataFrame(t,columns=[1,2,3,4],index=[1,2,3,4])
data

   1  2  3   4
1  1  0  0   0
2  2  3  0   0
3  4  5  6   0
4  7  8  9  10

## 1-3 数据存储

### 32 保存为 CSV

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意）

In [72]:
data = pd.read_csv("某招聘网站数据.csv",nrows = 20)

In [73]:
data=pd.to_csv("out.csv",encoding='utf_8_sig')

AttributeError: ignored

### 33 保存为 CSV｜指定列

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且只保留`positionName、salary`两列

In [ ]:
data=pd.to_csv("out.csv",encoding='utf_8_sig',column=['positionName','salary'])

AttributeError: ignored

### 34 保存为 CSV｜取消索引

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且取消每一行的索引

In [ ]:
data=pd.to_csv("out.csv",encoding='utf_8_sig',index=False)

### 35 保存为 CSV｜标记缺失值

<br>

在上一题的基础上，在保存的同时，将缺失值标记为`'数据缺失'`

In [ ]:
data=pd.to_csv("out.csv",encoding='utf_8_sig',index=False,na_rep='数据缺失')

### 36 保存为CSV｜压缩

<br>

将上一题的数据保存至 `zip` 文件，解压后出现 `out.csv`

In [ ]:
from pandas.io.formats.format import CompressionOptions
CompressionOptions

typing.Union[str, typing.Dict[str, typing.Any], NoneType]

In [ ]:
compression_opts=dict(method='zip',
          archive_name='out.csv')
data.to_csv('out.zip',index=False,
      compression=compression_opts)

### 37 保存为 Excel 

<br>

将第三题读取到的数据保存为 `xlsx` 格式至当前目录下（文件名任意）

In [81]:
data.to_excel("test.xlsx")

### 38 保存为 JSON

将之前的数据保存为 `json` 格式至当前目录下（文件名任意）

In [ ]:
data.to_json("out.json")

### 39 保存为 Markdown

将之前数据转换为 `markdown` 形式表格，这样可以直接复制进 `.md` 文件中使用

In [86]:
data.head().to_markdown(index=None)

"|   positionId | positionName   |   companyId | companySize   | industryField       | financeStage   | companyLabelList                                   | firstType        | secondType   | thirdType   | skillLables                         | positionLables                                      | industryLables                                      | createTime      | formatCreateTime   | district   | businessZones          |   salary | workYear   | jobNature   | education   | positionAdvantage                      | imState   | lastLogin       |   publisherId |   approve | subwayline   | stationname   | linestaion                               |   latitude |   longitude | hitags   |   resumeProcessRate |   resumeProcessDay |   score |   newScore |   matchScore | matchScoreExplain   | query   | explain   |   isSchoolJob |   adWord | plus   |   pcShow |   appShow |   deliver | gradeDescription   | promotionScoreExplain   |   isHotHire |   count | aggregatePositionIds   | famousCompany   |\n|-------------:|:---------------|------------:|:--------------|:--------------------|:---------------|:---------------------------------------------------|:-----------------|:-------------|:------------|:------------------------------------|:----------------------------------------------------|:----------------------------------------------------|:----------------|:-------------------|:-----------|:-----------------------|---------:|:-----------|:------------|:------------|:---------------------------------------|:----------|:----------------|--------------:|----------:|:-------------|:--------------|:-----------------------------------------|-----------:|------------:|:---------|--------------------:|-------------------:|--------:|-----------:|-------------:|:--------------------|:--------|:----------|--------------:|---------:|:-------|---------:|----------:|----------:|:-------------------|:------------------------|------------:|--------:|:-----------------------|:----------------|\n|      6802721 | 数据分析       |      475770 | 50-150人      | 移动互联网,电商     | A轮            | ['绩效奖金', '带薪年假', '定期体检', '弹性工作']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['SQL', '数据库', '数据运营', 'BI'] | ['电商', '社交', 'SQL', '数据库', '数据运营', 'BI'] | ['电商', '社交', 'SQL', '数据库', '数据运营', 'BI'] | 2020/3/16 11:00 | 11:00发布          | 余杭区     | ['仓前']               |    37500 | 1-3年      | 全职        | 本科        | 五险一金、弹性工作、带薪年假、年度体检 | today     | 2020/3/16 11:00 |      12022406 |         1 |              |               |                                          |    30.2784 |     120.006 |          |                  50 |                  1 |     233 |          0 |      15.1019 |                     |         |           |             0 |        0 |        |        0 |         0 |         0 |                    |                         |           0 |       0 | []                     | False           |\n|      5204912 | 数据建模       |       50735 | 150-500人     | 电商                | B轮            | ['年终奖金', '做五休二', '六险一金', '子女福利']   | 开发|测试|运维类 | 数据开发     | 建模        | ['算法', '数据架构']                | ['算法', '数据架构']                                | []                                                  | 2020/3/16 11:08 | 11:08发布          | 滨江区     | ['西兴', '长河']       |    15000 | 3-5年      | 全职        | 本科        | 六险一金,定期体检,丰厚年终             | disabled  | 2020/3/16 11:08 |       5491688 |         1 |              |               |                                          |    30.188  |     120.201 |          |                  23 |                  1 |     176 |          0 |      32.5594 |                     |         |           |             0 |        0 |        |        0 |         0 |         0 |                    |                         |           0 |       0 | []                     | False           |\n|      6877668 | 数据分析       |      100125 | 2000人以上    | 移动互联网,企业服务 | 上市公司       | ['节日礼物', '年底双薪', '股票期权', '带薪年假']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['数据库', '数据分析', 'SQL']       | ['数据库', 'SQL']                                   | []                                                  | 2020/3/16 10:33 | 10:33发布          | 江干区     | ['四季青', '钱江新城'] |     3500 | 1-3年      | 全职        | 本科        | 五险一金 周末双休 不加班 节日福利      | today     | 2020/3/16 10:33 |       5322583 |         1 | 4号线        | 江锦路        | 4号线_城星路;4号线_市民中心;4号线_江锦路 |    30.2415 |     120.213 |          |                  11 |                  4 |      80 |          0 |      14.9724 |                     |         |           |             0 |        0 |        |        0 |         0 |         0 |                    |                         |           0 |       0 | []                     | False           |\n|      6496141 | 数据分析       |       26564 | 500-2000人    | 电商                | D轮及以上      | ['生日趴', '每月腐败基金', '每月补贴', '年度旅游'] | 开发|测试|运维类 | 数据开发     | 数据分析    | []                                  | ['电商']                                            | ['电商']                                            | 2020/3/16 10:10 | 10:10发布          | 江干区     |                        |    45000 | 3-5年      | 全职        | 本科        | 年终奖等                               | threeDays | 2020/3/16 10:10 |       9814560 |         1 | 1号线        | 文泽路        | 1号线_文泽路                             |    30.2994 |     120.35  |          |                 100 |                  1 |      68 |          0 |      12.8742 |                     |         |           |             0 |        0 |        |        0 |         0 |         0 |                    |                         |           0 |       0 | []                     | True            |\n|      6467417 | 数据分析       |       29211 | 2000人以上    | 物流丨运输          | 上市公司       | ['技能培训', '免费班车', '专项奖金', '岗位晋升']   | 产品|需求|项目类 | 数据分析     | 数据分析    | ['BI', '数据分析', '数据运营']      | ['BI', '数据运营']                                  | []                                                  | 2020/3/16 9:56  | 09:56发布          | 余杭区     | ['仓前']               |    30000 | 3-5年      | 全职        | 大专        | 五险一金                               | disabled  | 2020/3/16 9:56  |       6392394 |         1 |              |               |                                          |    30.283  |     120.01  |          |                  20 |                  1 |      66 |          0 |      12.7554 |                     |         |           |             0 |        0 |        |        0 |         0 |         0 |                    |                         |           0 |       0 | []                     | True            |"

### 40 保存为 Html

将之前的数据保存为 `html` 格式至当前目录下（文件名任意），并进行如下设置
- 取消行索引
- 标题居中对齐
- 列宽100

In [79]:
data=pd.read_csv("某招聘网站数据.csv")

In [80]:
data.to_html("out.html",col_space=100,index=None,justify='center',border=1)